*.dylib
*.o
*.so
*.os
*.pyc
*_wrap.cc
*Lib.py
_build.*
*~
core.*
.sconf_temp
.sconsign.dblite
config.log
memleak.fits
bin/filter-gcc
doc/*.tag
doc/html
doc/xml
doc/doxygen.conf
examples/maskIo2
examples/transform
examples/fitsMemLeak
include/lsst/afw/image/ImageExceptions.h
include/lsst/afw/table/Source.h
examples/.tests
examples/*.fits
examples/analyticKernel
examples/ccd
examples/rowColumnStats
examples/chebyshev1Function
examples/convolveLinear
examples/deltaFunctionKernels
examples/fitsio
examples/fixedKernel
examples/gaussianFunction
examples/generate
examples/integerDeltaFunction
examples/lanczosFunction
examples/lanczosKernel
examples/makeExposure
examples/maskedImageFitsIo
examples/minimize
examples/polynomialFunction
examples/simpleConvolve
examples/spatiallyVaryingConvolve
examples/statistics
examples/timeConvolve
examples/timeImageAddition
examples/timeImageIterators
examples/timePixelAccess
examples/timePixelAccessGil
examples/timeSpatiallyVaryingConvolve
examples/timeWcs
examples/vwconvert
examples/wcsTest
examples/image
examples/image1
examples/image2
examples/mask
examples/maskedImage1
examples/maskedImage2
examples/decoratedImage
examples/maskedImage
examples/footprintFunctor
examples/splineInterpolate
examples/imageBackground
examples/imageStatistics
examples/ticket647
examples/integrateCartesian
examples/integrateExample
examples/integratePolar
examples/forEachPixel
examples/spatialCellExample
examples/simpleStacker
examples/timeConvolveGpu
examples/timeWarpGpu
examples/Spline
lib/libafw.*
python/lsst/*.pyc
python/lsst/afw/version.py
python/lsst/afw/*.pyc
python/lsst/afw/cameraGeom/*.pyc
python/lsst/afw/cameraGeom/cameraGeomLib_wrap.*
python/lsst/afw/cameraGeom/cameraGeomLib.py
python/lsst/afw/cameraGeom/_cameraGeomLib.so
python/lsst/afw/coord/*.os
python/lsst/afw/coord/*.so
python/lsst/afw/coord/*.pyc
python/lsst/afw/coord/coordLib.py
python/lsst/afw/coord/*wrap.cc
python/lsst/afw/detection/*.os
python/lsst/afw/detection/*.pyc
python/lsst/afw/detection/*.so
python/lsst/afw/detection/*_wrap.cc
python/lsst/afw/detection/detectionLib.py
python/lsst/afw/display/*.pyc
python/lsst/afw/display/*.os
python/lsst/afw/display/*.so
python/lsst/afw/display/fwDisplay.py
python/lsst/afw/display/xpa.py
tests/core.*
tests/.tests
tests/coordinates
tests/image.boost
tests/*.fits
tests/source_??????
tests/SourceMatchIo
tests/bBox1
tests/background
tests/checkTypeConversions
tests/convolveGPU
tests/coord
tests/decoratedImage
tests/distort
tests/ellipse
tests/footprint1
tests/footprintArray
tests/fourierCutout
tests/image
tests/integrate
tests/interpolate
tests/kernel
tests/localKernel
tests/maskIo1
tests/maskIo2
tests/maskedImage
tests/maskedImage1
tests/maskedImageIo1
tests/maskedImageIo2
tests/peak
tests/ramFitsIO
tests/rowColumnStats
tests/sipterms
tests/sourceIo1
tests/sourceIo2
tests/sourceMatch1
tests/stacker
tests/statistics
tests/statisticsSpeed
tests/testLib.py
tests/testTrapezoidalPacker
tests/testWcs
tests/testWarpGpu
tests/ticket1145
tests/wcsCopy
tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_imageInOut.fit
tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_imageOut.fit
tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_exposureRamOut.fit
tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_fitsOut.fit
tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_cfitsioInOut.fit
tests/ramFitsIO_fpC-002570-r6-0199_sub.fits_exposureRamOut.fit
tests/ramFitsIO_fpC-002570-r6-0199_sub.fits_imageOut.fit
tests/ramFitsIO_fpC-002570-r6-0199_sub.fits_imageRamOut.fit
tests/testEigenLib.py
tests/testTableArchives
tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_imageRamOut.fit
tests/testSimpleTable
tests/testDistortion
tests/testSchema
tests/testFitsTables
tests/testTableAliases
testTable.fits
tests/data/Dest
tests/data/kernel*.boost
ups/*.cfgc
extensions/

# Output of tests
doc/htmlDir
im.fits
bim.fits
tmp-False.fits
tmp-True.fits
in.fits
out.fits
matches.fits
bin/showCamera.py
