
# /
/.sconf_temp
/.sconsign.dblite
/config.log
/TAGS
/Dest_*.fits
/Source_??????
/testout_*.fits
/image.boost
/*.fits
/core.*
/splineInterpolate.stdout
/b

# /doc/
/doc/debug.txt
/doc/htmlDir

# /examples/
/examples/.tests
/examples/*.pyc
/examples/*.os
/examples/*.so
/examples/*.fits
/examples/analyticKernel
/examples/ccd
/examples/rowColumnStats
/examples/chebyshev1Function
/examples/convolveLinear
/examples/deltaFunctionKernels
/examples/fitsio
/examples/fixedKernel
/examples/gaussianFunction
/examples/generate
/examples/integerDeltaFunction
/examples/lanczosFunction
/examples/lanczosKernel
/examples/makeExposure
/examples/maskedImageFitsIo
/examples/minimize
/examples/polynomialFunction
/examples/simpleConvolve
/examples/spatiallyVaryingConvolve
/examples/statistics
/examples/timeConvolve
/examples/timeImageAddition
/examples/timeImageIterators
/examples/timePixelAccess
/examples/timePixelAccessGil
/examples/timeSpatiallyVaryingConvolve
/examples/vwconvert
/examples/wcsTest
/examples/image
/examples/image1
/examples/image2
/examples/mask
/examples/maskedImage1
/examples/maskedImage2
/examples/decoratedImage
/examples/maskedImage
/examples/footprintFunctor
/examples/splineInterpolate
/examples/imageBackground
/examples/imageStatistics
/examples/ticket647
/examples/integrateCartesian
/examples/integrateExample
/examples/integratePolar
/examples/forEachPixel
/examples/testSpatialCellLib_wrap.*
/examples/testSpatialCellLib.py
/examples/spatialCellExample
/examples/simpleStacker
/examples/Spline

# /include/lsst/afw/image/
/include/lsst/afw/image/ImageExceptions.h

# /lib/
/lib/libafw.*

# /python/lsst/afw/
/python/lsst/afw/*.pyc

# /python/lsst/afw/cameraGeom/
/python/lsst/afw/cameraGeom/*.pyc
/python/lsst/afw/cameraGeom/cameraGeomLib_wrap.*
/python/lsst/afw/cameraGeom/cameraGeomLib.py
/python/lsst/afw/cameraGeom/_cameraGeomLib.so

# /python/lsst/afw/coord/
/python/lsst/afw/coord/*.os
/python/lsst/afw/coord/*.so
/python/lsst/afw/coord/*.pyc
/python/lsst/afw/coord/coordLib.py
/python/lsst/afw/coord/*wrap.cc

# /python/lsst/afw/detection/
/python/lsst/afw/detection/*.os
/python/lsst/afw/detection/*.pyc
/python/lsst/afw/detection/*.so
/python/lsst/afw/detection/*_wrap.cc
/python/lsst/afw/detection/detectionLib.py

# /python/lsst/afw/display/
/python/lsst/afw/display/*.pyc
/python/lsst/afw/display/*.os
/python/lsst/afw/display/*.so
/python/lsst/afw/display/fwDisplay.py
/python/lsst/afw/display/displayLib.py
/python/lsst/afw/display/xpa.py
/python/lsst/afw/display/*_wrap.cc

# /python/lsst/afw/geom/
/python/lsst/afw/geom/geomLib_wrap.os
/python/lsst/afw/geom/geomLib_wrap.cc
/python/lsst/afw/geom/geomLib.py
/python/lsst/afw/geom/_geomLib.so
/python/lsst/afw/geom/*.pyc

# /python/lsst/afw/geom/ellipses/
/python/lsst/afw/geom/ellipses/ellipsesLib.py
/python/lsst/afw/geom/ellipses/ellipsesLib_wrap.cc
/python/lsst/afw/geom/ellipses/*.so
/python/lsst/afw/geom/ellipses/*.os
/python/lsst/afw/geom/ellipses/*.pyc

# /python/lsst/afw/image/
/python/lsst/afw/image/*.os
/python/lsst/afw/image/*.pyc
/python/lsst/afw/image/*.so
/python/lsst/afw/image/imageLib.py
/python/lsst/afw/image/*_wrap.cc

# /python/lsst/afw/math/
/python/lsst/afw/math/*.os
/python/lsst/afw/math/*.pyc
/python/lsst/afw/math/*.so
/python/lsst/afw/math/mathLib.py
/python/lsst/afw/math/*_wrap.cc

# /python/lsst/afw/math/detail/
/python/lsst/afw/math/detail/detailLib_wrap.cc
/python/lsst/afw/math/detail/detailLib.py
/python/lsst/afw/math/detail/*.os
/python/lsst/afw/math/detail/*.pyc
/python/lsst/afw/math/detail/*.so

# /python/lsst/afw/math/shapelets/
/python/lsst/afw/math/shapelets/shapeletsLib_wrap.cc
/python/lsst/afw/math/shapelets/shapeletsLib.py
/python/lsst/afw/math/shapelets/detailLib_wrap.cc
/python/lsst/afw/math/shapelets/detailLib.py
/python/lsst/afw/math/shapelets/*.os
/python/lsst/afw/math/shapelets/*.pyc
/python/lsst/afw/math/shapelets/*.so

# /python/lsst/afw/scons/
/python/lsst/afw/scons/*.pyc

# /src/cameraGeom/
/src/cameraGeom/*.os

# /src/coord/
/src/coord/*.os

# /src/detection/
/src/detection/*.os

# /src/formatters/
/src/formatters/*.os

# /src/geom/
/src/geom/*.os

# /src/geom/ellipses/
/src/geom/ellipses/*.os

# /src/image/
/src/image/*.os

# /src/math/
/src/math/*.os

# /src/math/detail/
/src/math/detail/*.os

# /src/math/shapelets/
/src/math/shapelets/*.os
/src/math/shapelets/*.so

# /src/math/shapelets/detail/
/src/math/shapelets/detail/*.os
/src/math/shapelets/detail/*.so

# /tests/
/tests/*.os
/tests/*.pyc
/tests/*.so
/tests/core.*
/tests/*_wrap.cc
/tests/.tests
/tests/image.boost
/tests/*.fits
/tests/source_??????
/tests/SourceMatchIo
/tests/bBox1
/tests/background
/tests/checkTypeConversions
/tests/coord
/tests/decoratedImage
/tests/ellipse
/tests/footprint1
/tests/footprintArray
/tests/fourierCutout
/tests/image
/tests/integrate
/tests/interpolate
/tests/kernel
/tests/localKernel
/tests/maskIo1
/tests/maskIo2
/tests/maskedImage
/tests/maskedImage1
/tests/maskedImageIo1
/tests/maskedImageIo2
/tests/ramFitsIO
/tests/rowColumnStats
/tests/sipterms
/tests/sourceIo1
/tests/sourceIo2
/tests/sourceMatch1
/tests/stacker
/tests/statistics
/tests/statisticsSpeed
/tests/testLib.py
/tests/testWcs
/tests/ticket1145
/tests/wcsCopy
/tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_imageInOut.fit
/tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_imageOut.fit
/tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_exposureRamOut.fit
/tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_fitsOut.fit
/tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_cfitsioInOut.fit
/tests/testEigenLib.py
/tests/ramFitsIO_fpC-005902-r6-0677_sub.fits_imageRamOut.fit

# /tests/data/
/tests/data/*
