*.dylib
*.o
*.so
*.os
*.pyc
*_wrap.cc
*.cfgc
*Lib.py
version.py
.sconf_temp
.sconsign.dblite
config.log
bin/filter-gcc
doc/*.tag
doc/html
doc/doxygen.conf
tests/.tests
tests/Simple
tests/Schema
tests/Fits
testTable.fits
