# -*- python -*-
from lsst.afw.image import FilterConfig, FilterSetConfig
root = FilterSetConfig()
root.description = "The SDSS Filters from the DR6 paper"
root.filters = [ FilterConfig(name='u', lambdaEff=355.1),
                 FilterConfig(name='g', lambdaEff=468.6),
                 FilterConfig(name='r', lambdaEff=616.5),
                 FilterConfig(name='i', lambdaEff=748.1),
                 FilterConfig(name='z', lambdaEff=893.1, alias=['zprime', "z'"]),
                 ]
